.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main_heading{
  color: rgb(146, 23, 23);
  font-size: 26px;
}

.underLine{
  height: 04px;
  width: 4rem;
  background-color: rgb(219, 47, 47);
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light{
  background-color: rgb(194, 205, 206);
}

.footer a{
  color: white;
  text-decoration: none;
  
}

.table{
  border: 1px solid black;
  margin-top: 5%;
  
}

